// begin: global styles

 html {
  font-size: 16px;
} 
body {
	font-size: 1rem;
	font-family: $font-stack;
	background-color: $off-white;
}
header {
	background-color: $white;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-left: -15px;
}
.container-fluid {
	width: 100%;
	background-color: $white;
	overflow-x: hidden;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: $font-stack;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
  text-transform: none;
}
span{
	background: linear-gradient(90deg, #00aeef 16%, transparent 77%);
	background-repeat: no-repeat;
  	background-size: 100% 0.2em;
  	background-position: 0 83%;
}
h1 {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.27;
	margin: 1em 0 0.5em;
	a {
		font-size: 1em;
	}
	@media only screen and (max-width: 768px) {
		font-size: 1.222em;
		line-height: 1.5;
		margin: 1em 0;
	}
}
h2 {
	font-size: 2.75rem;
	font-weight: 300;
	line-height: 1.18;
	margin: 1em 0 0.5em;
	@media only screen and (max-width: 768px) {
		font-size: 1.111em;
	}
}
h3 {
	font-size: 1.333em;
	font-weight: 300;
	line-height: 1.5;
	margin: 1em 0 0.5em;
	@media only screen and (max-width: 768px) {
		font-size: 1em;
	}
}
h4 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.43;
	margin: 1em 0 0.5em;
	&.sctn-ctgry{
		color: $navient-blue;
	}
}
p {
	color: $almost-black;
	font-size: 0.813rem;
	font-weight: normal;
	line-height: 1.54;
	margin: 0.5em 0 1em;
	@media only screen and (max-width: 768px) {
		font-size: 0.889rem;
		line-height: 1.57;
		margin: 1em 0;
	}
}
a {
	color: $navient-blue;
	font-weight: 700;
}
ul {
	margin: 1em 0;
	padding-left: 1.5em;
	&.bull-blue{
		list-style-type: square;
    color:#00aeef;
		
		
	}
}
li {
	margin-bottom: 0.5em;
	@media only screen and (max-width: 768px) {
		font-size: 0.889rem;
		line-height: 1.57;
		letter-spacing: 0.039em;
		margin: 1em 0;
	}
}
.btn, button.btn {
  border: 0;
  padding: .40rem 2.5rem;
  max-width: 100%;
  @include border-radius(24px);
  @media only screen and (max-width: 768px) {
    padding: .80rem 1rem;
  }
}
a.btn,
a.btn:visited,
button.btn,
button.btn:visited {
	color: $white;
	background-color: $primary-purple;
	font-size: 0.75rem;
  font-weight: 500;
	margin: 2.5em auto 0;
	transition: background-color 0.3s ease;
	&:hover,&:focus {
    color: $navient-blue;
    background-color: $white;
    // border: 1px solid $navient-blue;
    outline: 1px solid $navient-blue;
    transition: background-color 0.3s ease;
  }
	@media only screen and (max-width: 768px) {
		font-size: 0.778em; /* 0.889em; */
	}
}
a.full {
	font-size: 1em;
	display: block;
	position: relative;
	padding: 0.5em 0 1em;
	clear: right;
	&:hover {
		color: $bright-blue;
		text-decoration: underline;
	}
}
.full:after,
.login-link:after {
	padding: 2px 0 0 5px;
	position: absolute;
}
a.link {
	&:hover {
		text-decoration: underline;
	}
}
