.NaviTabSec{
  padding: 2em 2em 2em 2em;
  max-width: 1440px;
  margin: 0 auto;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 2em 2em 2em 1.5em;
  }
  @media (max-width: 767px) {
    padding: 2em 2em 2em 1.5em;
  }
  &:nth-child(4){
    background-color: red;
    &::after{
      top:30px;
    }
  }
  .NaviTabHeader{
    padding: 1em 1em 2em 3em;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 1em 1em 2em 1.5em;
    }
    @media (max-width: 767px) {
      padding: 1em 1em 2em 1em;
    }
    h2{
    color:#0057b8;
    font-size: 2.438rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    margin-top:0.5em;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.22rem;
    }
    @media (max-width: 767px) {
      font-size: 1.22rem;
    }
    }
  }
  .NaviTabBox{
    width:25%;
    &:nth-child(1){
      background-color: red;
      &::after{
        top:30px;
      }
    }
    .tab-primary{
      padding:1.5em 2em 2em 1.5em;
      margin-bottom:1.5em;
      background: rgb(0,87,182);
      background: linear-gradient(90deg, rgba(0,87,182,1) 0%, rgba(0,87,182,1) 68%, rgba(255,255,255,1) 202%);
      &:active, &:focus, &:hover{
        background: rgb(26,49,149);
        background: linear-gradient(90deg, rgba(26,49,149,1) 23%, rgba(71,10,104,1) 74%);
      }
      p{
        color:$white;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;

      }
     
     
     
    }
   
    .tab-primary[aria-expanded="true"].tab-primary[aria-controls="collapse1"]{
      background: rgb(26,49,149);
      background: linear-gradient(90deg, rgba(26,49,149,1) 23%, rgba(71,10,104,1) 74%);
      &::after{
        font-family: "FontAwesome";
        content: "\f0da";
        padding: 2px 0 0 5px;
        position: absolute;
        top:30px;
        left: 323px;
        font-size: 35px;
        color:$primary-purple;
      }
    }

    .tab-primary[aria-expanded="true"].tab-primary[aria-controls="collapse2"]{
      background: rgb(26,49,149);
      background: linear-gradient(90deg, rgba(26,49,149,1) 23%, rgba(71,10,104,1) 74%);
      &::after{
        font-family: "FontAwesome";
        content: "\f0da";
        padding: 2px 0 0 5px;
        position: absolute;
        top:162px;
        left: 323px;
        font-size: 35px;
        color:$primary-purple;
      }
    }

    .tab-primary[aria-expanded="true"].tab-primary[aria-controls="collapse3"]{
      background: rgb(26,49,149);
      background: linear-gradient(90deg, rgba(26,49,149,1) 23%, rgba(71,10,104,1) 74%);
      &::after{
        font-family: $font-awesome;
        // content: url(../img/39405.svg);
        width: 19px;
        padding: 2px 0 0 5px;
        position: absolute;
        top: 302px;
        left: 324px;
        
        color:$primary-purple;
      }
    }
    .tab-primary[aria-expanded="true"].tab-primary[aria-controls="collapse4"]{
      background: rgb(26,49,149);
      background: linear-gradient(90deg, rgba(26,49,149,1) 23%, rgba(71,10,104,1) 74%);
      &::after{
        font-family: "FontAwesome";
        // content: url(../img/39405.svg);
        padding: 2px 0 0 5px;
        width: 19px;
        position: absolute;
        top: 445px;
        left: 323px;
        color:$primary-purple;
      }
    }
   
    
  }
  
  .NaviTabContent{
    width:75%;
    .card-body{
      background-color: #f3f1f1;
      padding:1.5em 1em 1em 2em;
      border-top: 5px solid #00aeef;
      border-bottom: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-image: linear-gradient(to right, #00aeef, #fff) 1 stretch;
      p{
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: normal;
      }
      ul{
        li{
          font-size: 16.5px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.27;
          letter-spacing: normal;
        }
      }
    }
  }
}


.contentTile {
  max-width: 720px;
  margin: 0 auto;
  &.fullWidth{
    padding:2em 2em 4em 2em;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      padding: 2em 1em 2em 0em;
    }
    @media (max-width: 767px) {
      padding: 2em 1em 2em 0em;
    }
    h2{
      color:#0057b8;
      font-size: 2.438rem;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      margin-top:0.5em;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.11rem;
      }
      @media (max-width: 767px) {
        font-size: 1.11rem;
      }
    }
    p{
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      &.black-text{
        color:$black;
      }
    }
    ul{
      &.purple-text{
        color:$primary-purple;
      }
      li{
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: normal;
        margin-top:0.9em;
      }
    }
    h3{
      font-size: 31px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.42;
      letter-spacing: normal;
    }
    h4{
      color:$navient-blue;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      margin-top: 2em;
      margin-bottom: 1.2em;
    }
    a.btn{
      background-color: $primary-purple;
      border-radius: 24px;
      font-size: 13px;
      color:$white;
      font-weight: 700;
      padding: 0.6rem 3rem;
      margin: 2.5em auto 0;
      margin-right: 1em;
      margin-top: 2em;
      &:focus, &:hover{
        background-color: $white;
        color:$primary-purple;
        outline: 1px solid $primary-purple;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 0.889em;
      }
      @media (max-width: 767px) {
        font-size: 0.889em;
      }
    }
  }

}

.heroSec{
  &.secondHero{
    background: rgb(71,10,104);
    background: linear-gradient(to left, rgba(71,10,104,1) 20%, rgba(26,49,149,1) 76%) no-repeat;     
    background-size: calc(100%) calc(50%);
    background-position: top;
    @media (max-width: 1582px) {
      background-size: calc(100%) calc(63%);
    }
    @media (max-width: 1360px) {
      background-size: calc(100%) calc(69%);
    }
    @media (max-width: 1201px) {
      background-size: calc(100%) calc(76%);
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      background-size: calc(100%) calc(76%);
    }
    .contentTileLeft{
      margin-top: 8em;
      padding:2em 2em 2em 7em;
     
      @media (max-width: 1582px) {
        margin-top: 8em;
       
      }
      @media (max-width: 1122px) {
        margin-top: 5em;
       
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        margin-top: 3em;
        padding:2em 2em 2em 2em;
        width:50%;
      }
      @media (max-width: 767px) {
        margin-top: 1em;
        padding-left:1.5em;
        width:100%;
      }
      .heroHdText{
        color:$white;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

      }
      h1{
        color:$white;
        font-size: 50px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        margin-top:0.2em;
        position: relative;
        z-index: 2;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          font-size:1.22em;
        }
        @media (max-width: 767px) {
          font-size:1.22em;
        }
        span{
          &::after{
            content: "";
            position: absolute;
            bottom: 6px;
            left: 0;
            width: 30%;
            height: 10%;
            background: #06aeef;
            background: linear-gradient(90deg, rgba(0,174,239,1) 16%, rgba(71,10,104,1) 77%);
            z-index: -1;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            transition: all .3s linear;
            @media (max-width: 1582px) {
              bottom: 66px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              bottom: 6px;
            }
            @media (max-width: 767px) {
              bottom: 6px;
            }
          }
        }
      }
    }
    .contentTileRight{
      padding:4em 4em 2em 2em;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        
        padding:2em 2em 2em 2em;
        width:50%;
      }
      @media (max-width: 767px) {
        padding:0 4em 2em 2em;
      }
      img{
        width:100%;
      }
    }
  }
}

.contentPageComp{
  margin: 0 auto;
  padding-left: 6.2em;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding-left: 1.5em;
  }
  @media (max-width: 767px) {
    padding-left: 0;
  }
  .contentTileLeft{
    width: 47.8%;
    padding:2em 4em 2em 2em;
    vertical-align: middle;
    margin-top: 6em;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      margin-top: 0;
      padding:0 4em 2em 0;
    }
    @media (max-width: 767px) {
      width: 100%;
      margin-top: 0;
      padding:1em 4em 2em 1.5em;
    }
    p.blueHiText{
      color:$navient-blue;
      font-size: 16.5px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: normal;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 0.889em;
      }
      @media (max-width: 767px) {
        font-size: 0.889em;
      }
    }
    p{
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.64;
      letter-spacing: normal;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 0.889em;
      }
      @media (max-width: 767px) {
        font-size: 0.889em;
      }
    }
    h2{
      font-size: 2.375rem;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.37;
      letter-spacing: normal;
      position: relative;
      margin-top:0.2em;
      z-index: 2;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.11rem;
      }
      @media (max-width: 767px) {
        font-size: 1.11rem;
      }
      span{
        &::after{
          content: "";
          position: absolute;
          bottom: 6px;
          left: 0;
          width: 30%;
          height: 10%;
          background: rgb(0,174,239);
          background: linear-gradient(90deg, rgba(0,174,239,1) 16%, rgba(255,255,255,1) 77%);
          z-index: -1;
          -webkit-transition: all .3s linear;
          -moz-transition: all .3s linear;
          transition: all .3s linear;
        }
      }
    }
    a.btn{
      background-color: $primary-purple;
      border-radius: 24px;
      font-size: 13px;
      color:$white;
      font-weight: 700;
      padding: 0.6rem 2.5rem;
      margin: 2.5em auto 0;
      margin-right: 1em;
      margin-top: 2em;
      &:focus, &:hover{
        background-color: $white;
        color:$primary-purple;
        outline: 1px solid $primary-purple;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 0.889em;
      }
      @media (max-width: 767px) {
        font-size: 0.889em;
      }
    }
  }
  .contentTileRight{
    width:47.7%;
    @media (max-width: 767px) {
      width: 100%;
      padding:0;
    }
    img{
      width: 100%;
    }
  }
}

.dualAccordion{
  padding: 3em 3em 3em 3em;
  @media (max-width: 767px) {
    padding: 3em 0 3em 0;
  }
  .dualAccordionHd{
    padding-left:3em;
    h2{
      font-size: 31px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.26;
      letter-spacing: normal;
      @media (max-width: 767px) {
        font-size: 0.889em;
      }
    }
  }

.purpleGrad{
  .accordion{
    .accordion-item{
      background: rgb(71,10,104);
      background: linear-gradient(90deg, rgba(71,10,104,1) 16%, rgba(36,63,154,1) 77%);
    }
  }
}
.blueGrad{
  .accordion{
    .accordion-item{
      background: rgb(0,87,182);
      background: linear-gradient(90deg, rgba(0,87,182,1) 39%, rgba(51,186,249,1) 100%);
    }
  }
}

  .accordion{
    clear:both;
    display: inline-block;
    width:100%;
    .accordion-item{
      margin: 0.5em 2em 0.5em 2em;
      @media (max-width: 767px) {
        margin: 0.5em 0 0.5em 0;
      }
      h3.accordion-header{
        .accordion-button{
          position: relative;
          display: flex;
          align-items: center;
          padding: 1.5em 1em 1.5em 2em;
          color:$white;
          font-size: 14px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.36;
          letter-spacing: normal;
          &::after{
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            // background-image: url(../img/chevrom-down.svg);
          }

          &:not(.collapsed)::after {
            content: "";
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            // background-image: url(../img/chevrom-down.svg);
            transform: rotate(270deg);
          }
        }
      }
      .accordion-collapse{
        background-color: #f3f1f1;
        .accordion-body{
          padding: 1em 5em 2em 1.5em;
          p{
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.64;
            letter-spacing: normal;
            @media (max-width: 767px) {
              font-size: 0.889em;
            }
          }
          a.btn{
            background-color: $primary-purple;
            border-radius: 24px;
            font-size: 10px;
            color:$white;
            font-weight: 700;
            padding: 0.6rem 3rem;
            margin: 2.5em auto 0;
            margin-right: 1em;
            margin-top: 2em;
            &:focus, &:hover{
              background-color: $white;
              color:$primary-purple;
              outline: 1px solid $primary-purple;
            }
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              font-size: 0.889em;
            }
            @media (max-width: 767px) {
              font-size: 0.889em;
            }
          }
        }
      }
    }
  }
}

.accordionReNavient{
  .dualAccordionHd{
    h2{
      font-size: 31px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.26;
      letter-spacing: normal;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.11rem;
      }
      @media (max-width: 767px) {
        font-size: 1.11rem;
      }
    }
  }

  .accordionTileRight{
    &.purpleGrad{
      .panel{
        .panel-heading{
          background: rgb(71,10,104);
          background: linear-gradient(90deg, rgba(71,10,104,1) 16%, rgba(36,63,154,1) 77%);
          h3.panel-title{
            a{
              i{
                text-align: right;
                float: right;
                font-size: 35px;
                -webkit-text-stroke: 6px #243f9a;
              }
            }
          }
        }
      }
    }
  }

  .accordionTileRight{
    &.blueGrad{
      .panel{
        .panel-heading{
          background: rgb(0,87,182);
          background: linear-gradient(90deg, rgba(0,87,182,1) 39%, rgba(51,186,249,1) 100%);
          h3.panel-title{
            a{
              i{
                text-align: right;
                float: right;
                font-size: 35px;
                -webkit-text-stroke: 6px #33baf9;
              }
            }
          }
        }
      }
    }
  }

  .accordionTileRight{
    .panel{
      margin-bottom: 1em;
      .panel-heading{
       
        padding: 1.5em 1em 1.5em 2em;
        hr{
          display: none;
        }
        h3.panel-title{
          a{
           color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
          }
          a[aria-expanded="false"] {
            .glyphicon-chevron-up {
              display: none;
            }
          }
          a[aria-expanded="true"] {
            .glyphicon-chevron-down {
              display: none;
            }
          }
        }
      }
    }
    .panel-body{
      background-color: #f3f1f1;
      padding: 1em 5em 2em 1.5em;
      p{
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.64;
        letter-spacing: normal;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 0.889em;
        }
        @media (max-width: 767px) {
          font-size: 0.889em;
        }
      }
      ul{
        li{
          font-size: 11px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.64;
          letter-spacing: normal;
        }
      }
      a.btn{
        background-color: $primary-purple;
        border-radius: 24px;
        font-size: 10px;
        color:$white;
        font-weight: 700;
        padding: 0.6rem 3rem;
        margin: 2.5em auto 0;
        margin-right: 1em;
        margin-top: 2em;
        &:focus, &:hover{
          background-color: $white;
          color:$primary-purple;
          outline: 1px solid $primary-purple;
        }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 0.889em;
        }
        @media (max-width: 767px) {
          font-size: 0.889em;
        }
      }
    }

  }
}


.profileSlideShow{
  .carousel{
    .carousel-indicators{
      bottom: 70px;
      margin-left: -19%;
      text-align: left;
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        bottom: 37px;
      }
      @media (max-width: 767px) {
        bottom: 29px;
      }
      button{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 8px;
        height: 8px;
        padding: 0;
        margin-right: 10px;
        margin-left: 3px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 100%;
      }
      button{
        &.active{
          background-color: #fff;
        }
      }
    }

    .carousel-inner{
      background: rgb(51,186,249);
      background: linear-gradient(90deg, rgba(51,186,249,1) 10%, rgba(0,87,182,1) 100%);
      .item{
        background: $white;
        background: linear-gradient(to left, $white 20%, $white 76%) no-repeat;
        background-size: calc(100%) calc(40%);
        padding:2em 2em 4em 2em;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          background-size: calc(100%) calc(35%);
        }
        @media (max-width: 767px) {
          padding-bottom: 3em;
         
        }
        .imgProf{
          width:30%;
          display: inline-block;
          vertical-align: top;
          padding-left: 3em;
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding-left: 0.4em;
            width:50%;
          }
          @media (max-width: 767px) {
            padding-left: 0.5em;
            width:100%;
          }
          img{
            width: 321px;
            height: 369.8px;
            border-bottom: 5px solid;
            border-image: linear-gradient(45deg, rgba(51,186,249,1), rgba(0,87,182,1)) 1;
          }
        }
        .proContent{
          width:60%;
          display: inline-block;
          padding-top: 2em;
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding-top: 2em;
            width:49%;
          }
          @media (max-width: 767px) {
            padding-top: 0.5em;
            width:100%;
          }
          .proHd{
            margin-top:2em;
            margin-bottom: 2em;
            @media (max-width: 767px) {
              margin-top:0.5em;
              margin-bottom: 0.5em;
            }
            h2{
              color:$navient-blue;
              font-size: 38px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.05;
              letter-spacing: normal;
              @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 1.11rem;
              }
              @media (max-width: 767px) {
                margin-top:0.5em;
                font-size: 1.11em;
              }

            }
          }
         
          .proText{
            padding-top: 2.4em;
            @media only screen and (min-width: 768px) and (max-width: 1024px) {
              padding-top: 0.5em;
            }
            @media (max-width: 767px) {
              padding-top: 0.5em;
             
            }
            p{
              color:$white;
              font-size: 14px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.36;
              letter-spacing: normal;
              margin-bottom:1.5em;
              @media only screen and (min-width: 768px) and (max-width: 1024px) {
                font-size: 0.889em;
              }
              @media (max-width: 767px) {
                font-size: 0.889em;
              }
            }
            .nameTitleNavient{
              font-weight: 400;
            }
          }
         
        }
      }
      .carousel-item.active{
        display: block;
      }
    }

    button.carousel-control-prev{
      display: none;
    }
    button.carousel-control-next{
      display: none;
    }
  }
}

.modal{
  &#loginLightbox{
    top:103px;
    @media (min-width: 768px) and (max-width: 1024px) {
      top:146px;
    }
   
    .modal-dialog{
      width: 1180px;
      @media screen and (max-width: 767px) {  
         width: 96%;
      }
      .modal-content{
        border-radius: 3px;
        border: 1px solid $primary-purple;
        .modal-header{
          padding: 2em 2em 1em 2.5em;
          border-bottom: 0px solid #e5e5e5;
          @media (min-width: 768px) and (max-width: 1024px) {
            padding: 1em 2em 0 1em;
          }
          @media only screen and (max-width: 767px) {
            padding: 1em 2em 0 1em;
          }
          h2.modal-title{
            color: $primary-purple;
            font-size: 44px;
            font-weight: 400;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.18;
            letter-spacing: normal;
            display: inline-block;
            @media (min-width: 768px) and (max-width: 1024px) {
              font-size: 1.11em;
            }
            @media only screen and (max-width: 767px) {
              font-size: 1.11em;
            }
          }
          button.close{
            font-size: 41px;
            font-weight: 400;
            color: $navient-blue;
            opacity: unset;
            display: inline-block;
            @media only screen and (max-width: 767px) {
              font-size: 20px;
              margin-top: 2px;
            }
          }
        }
        .modal-body{
          padding-bottom:2em;
          .loginStudentService{
            width:70%;
            padding-left:4em;
            @media (min-width: 768px) and (max-width: 1024px) {
              padding-left: 1em;
              margin-right: 1.5em;
              width: 35%;
            }
            @media only screen and (max-width: 767px) {
              width:100%;
              padding-left:0.5em;
            }
            h3{
              color:$navient-blue;
              font-size: 24px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: normal;
              margin-top: 0.3em;
              @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 1em;
              }
              @media only screen and (max-width: 767px) {
                font-size: 1em;
              }
            }
            p{
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.43;
              letter-spacing: normal;
              margin-bottom: 2.3em;
            }
            .leftFinance, .middleFinance, .rightFinance {
              box-shadow: 0 2px 4px 0 $light-gray;
              text-align: center;
              padding: 1em 0.7em 1.6em 0.7em;
              width: 30%;
              margin-right: 1.2em;
              @media (min-width: 768px) and (max-width: 1024px) {
                padding-bottom: 4em;
                margin-right: 1.3em;
                width:100%;
              }
              @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom:1em;
              }
              .leftImg {
                img {
                  width: 45.4px;
                }
                padding-bottom: 0.7em;
              }
              h3 {
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                @media (min-width: 768px) and (max-width: 1024px) {
                  font-size: 1rem;
                }
              }
              p {
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.58;
                letter-spacing: normal;
                text-align: center;
                margin-bottom:0.5em;
                @media (min-width: 768px) and (max-width: 1024px) {
                  font-size: 0.875rem;
                }
                @media screen and (max-width: 767px) {
                  font-size: 0.875rem;
                }
              }
              a.btn{
                background-color: $primary-purple;
                border-radius: 24px;
                font-size: 13px;
                color:$white;
                font-weight: 700;
                padding: 0.6rem 1rem;
                margin: 2.5em auto 0;
                margin-right: 0;
                margin-top: 1em;
                &:focus, &:hover{
                  background-color: $white;
                  color:$primary-purple;
                  outline: 1px solid $primary-purple;
                }
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                  font-size: 0.789em;
                }
                @media (max-width: 767px) {
                  font-size: 0.789em;
                }
              }
            }
            .leftFinance{
              @media (min-width: 768px) and (max-width: 1024px) {
                margin-left:0;
                padding-bottom: 1.4em;
              }
              @media screen and (max-width: 767px) {
                margin-left:0;
                padding-bottom: 1.4em;
              }
            }
            .middleFinance{
              padding-bottom: 1.3em;
              .leftImg{
                padding-bottom:1.2em;
                img{
                  width: 93px;;
                }
              }
            }
            .rightFinance{
              padding-bottom:1.5em;
              .leftImg{
                padding-bottom: 0.4em;
                img{
                  width: 138px;
                }
              }
            }
            .loginImportant{
              h4{
                color:$navient-blue;
                font-size: 20px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.6;
                letter-spacing: normal;
              }
              ul{
                li{
                  font-size: 14px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.29;
                  letter-spacing: normal;
                  margin-bottom: 1em;
                }
              }
            }
          }

          .loginContent{
            width: 30%;
            @media (min-width: 768px) and (max-width: 1024px) {
              width: 30%;
              display: inline-block;
            }
            @media screen and (max-width: 767px) {
              width: 100%;
              display: inline-block;
            }
            .login-iframe{
              width: 260px;
              height: 360px;
              float: left;
              // margin: 40px 3em 20px;
              border: 1px solid #bebebe;
              background-color: #f8f8f8;
              h1.login-frame-title{
                @media (min-width: 768px){  
                  color: #470a68;
                  width: 90%;
                  font-size: 1.111em;
                  font-weight: 900;
                  text-transform: capitalize;
                  letter-spacing: .056em;
                  text-align: center;
                  margin: 0 auto;
                  padding: 1.5em 0 0.5em 0;
                }
              }
              .login-iframe{
                width: 230px;
                height: 240px;
                float: right;
                margin-right: 12px;
                margin-bottom: 15px;
                margin-left: 112px;
                border: none;
              }
              .difficultylink{
                margin: 21%;
                font-size: .778em;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                letter-spacing: .039em;
                text-align: center;
              }
            }

            .loginboxText{
              clear: both;
              width: 100%;
              padding-top: 1.5em;
              padding-right:2em;
              p{
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.29;
                letter-spacing: normal;
              }
            }
          }
        }
      }
    }
  }
}



.centeredContent{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  h3{
    color:$navient-blue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
  p{
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
  }
  p.blueHiText{
    color:$navient-blue;
    font-size: 16.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
  }
  h2{
    font-size: 2.375rem;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    position: relative;
    margin-top:0.2em;
    z-index: 2;

    span{
      &::after{
        content: "";
        position: absolute;
        bottom: 6px;
        left: 357px;
        width: 30%;
        height: 13%;
        background: rgb(0,174,239);
        background: linear-gradient(90deg, rgba(0,174,239,1) 16%, rgba(255,255,255,1) 77%);
        z-index: -1;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
      }
    }
  }
  a.btn{
    background-color: $primary-purple;
    border-radius: 24px;
    font-size: 13px;
    color:$white;
    font-weight: 700;
    padding: 0.6rem 3rem;
    margin: 2.5em auto 0;
    margin-right: 1em;
    margin-top: 2em;
     &:focus, &:hover{
      background-color: $white;
      color:$primary-purple;
      outline: 1px solid $primary-purple;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 0.889em;
    }
    @media (max-width: 767px) {
      font-size: 0.889em;
    }
  }

}



.contentImgTextGrad{
  background: linear-gradient(to left, #0057b6 20%, #33baf9 76%) no-repeat;
  background-size: calc(100%) calc(66%);
  background-position: bottom;
  padding-left:5em;
  margin-bottom: 4em;
  margin-top:2em;
  @media (min-width: 768px) and (max-width: 1024px) {
    background-size: calc(100%) calc(86%);
    background-position: bottom;
    padding-left: 1.5em;
  }
  @media only screen and (max-width: 767px) {
    padding-left:1.5em;
    
  }
  .imgTile{
    width:30%;
    text-align: center;
    
    @media only screen and (max-width: 767px) {
      width: 100%;
      text-align: left;
    }
    img{
      width: 321px;
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  .textLTile{
    width:60%;
    padding-top: 10%;
    padding-bottom: 6%;
    padding-right:5em;
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 60%;
      padding-top: 10%;
      padding-bottom: 6%;
      padding-right: 2em;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-top: 1em;
      padding-bottom: 2em;
      padding-right: 5em;
    }
    h2{
      color:$white;
      font-size: 38px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.05;
      letter-spacing: normal;
      margin-top:1em;
      margin-bottom: 1em;
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.11em;
      }
      @media only screen and (max-width: 767px) {
        font-size: 1.11em;
      }
    }
    p{
      color:$white;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 0.875rem;
      }
      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
      }
    }
  }
}



.newsSlideShow{
  

  .newsButton{  
    float:left;
    width: 4%;
    .carousel-control-prev{
      display:block;
      
      border: none;
      background-color: transparent;
      margin: 0 auto;
      margin-bottom: 2em;
      .carousel-control-prev-icon{
        // background-image: url("../img/arrow-left.svg");
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
      }
    }
    .carousel-control-next{
      display:block;
      border: none;
      background-color: transparent;
      margin: 0 auto;
      .carousel-control-next-icon{
        // background-image: url("../img/arrow-right.svg");
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 100%;
      
      }
    }
  } 

    .carousel-inner {
      width: 96%;
      float: right;
      left: 130px;
      .active.left {
        left: -33%;
      }
      .active.right {
        left: 33%;
      }
      .next {
        left: 33%;
      }
      .prev {
        left: -33%;
      }
      .item {
        transition: 500ms ease-in-out left;
        backface-visibility: visible;
        transform: none !important;
       
        .carContent{
          &::after{

            content:"";
            background: -webkit-linear-gradient(left, #00aeef 0%, #00aeef 12%, #00aeef 47%, white 100%);
            display: block;
            height:5px;
            width: 85%;
            position: absolute;
            bottom: 0;
          }
          .imgCard{
            img{
              width: 90%;
            }
          }
          .textCard{
            padding:1em 2em 2em 1.5em;
           
            p{
              font-size: 13px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
            }
            a{
              font-size: 13px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
            }
          }
        }

      }
      
    }
    .carousel-control.left {
      background-image: none;
    }
    .carousel-control.right {
      background-image: none;
    }
  
    
  }

