.home-careers-culture{
  background: linear-gradient(135deg, rgba(208,208,208,1) 0%, rgba(251,251,251,0.49205619747899154) 67%);
  z-index:-1;
  // width: 0; height: 0;
  // border-left: 100em solid transparent;
  // border-right: 5em solid transparent;
  // border-top: 12em solid $white;
  
  // @media only screen and (min-width: 768px) and (max-width: 1024px) {
  //   padding: 2em 2em 2em 1.5em;
  // }
  // @media (max-width: 767px) {
  //   padding: 1em 2em 2em 1.5em;
  // }
  &::before{
    content: '';
    position: absolute;
    // top: 50%;
    // left: 24%;
    // width: 100%;
    // height: 100%;
    // transform: translate(-50%, -50%) rotate(4deg) skew(360deg);
    
    width: 0; height: 0;
    border-left: 100vw solid transparent;
    border-right: 0px solid transparent;
    border-top: 12vw solid $white;
    z-index:0;
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      border-top:25vw solid $white;
    }
  }

  // .left-text{
  //   width: 30%;
  //   // padding:2em 4em 2em 2em;
  //   // vertical-align: middle;
  //   margin-top: 12%;
  //   margin-left:12%;
  //   // padding-right:4em;
  //   z-index:1;
    
  //   @media only screen and (min-width: 768px) and (max-width: 1024px) {
  //     margin-top: 0;
  //     // padding:0 4em 2em 0;
  //     margin-left: 2%;
  //     width:46%;
      
  //   }
  //   @media (max-width: 767px) {
  //     width: 100%;
  //     margin-top: 0;
  //     padding:1em 4em 2em 1.5em;
  //   }
  //   h2{
  //     margin-top:0.5em;
  //     }
  // }  
    
  
  // .right-img{
  //   // padding: 2em 2em 2em 5em;
  //   padding-left:0;
  //   float: right;
  //   width:50vw;
  //   z-index:1;
  //   margin-left:5%;
  //   img{
  //     width:90%;
  //   }
  //   @media only screen and (min-width: 768px) and (max-width: 1024px) {
  //     // padding: 2em 2em 2em 1.5em;
  //     width:47%;
  //     // margin-right:0;
  //   }
  //   @media (max-width: 767px) {
  //     padding: 1em 2em 2em 1.5em;
  //     width:100%;
  //     padding-top:2em;
  //   }
    
  // }
}


